body {
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
}

#name {
    min-height: 135px;
    max-height: 135px;
    min-width: 450px;
    max-width: 450px;
    display: block;
    margin: 0 auto;
}

.nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 5px solid black;
    width: 100%;
    text-align: center;
    align-items: center;
}

.nav>li {
    list-style: none;
    margin: auto;
    font-size: 30px;
}

a {
    color: black;
    text-decoration: none;
}

p a:link {
    color: #8f4dca;
}

p a:visited {
    color: #aca1ff;
}

h1 {
    text-align: center;
}

.top {
    background-image: url(leaf3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.cards-container {
    padding: 0;
    margin: 0 auto;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    background: rgba(255, 224, 251, 0.1);
}

.card {
    /* border: 1px solid black; */
    margin: 0 auto;
    overflow: scroll;
    display: flex;
    /* flex-direction: column; */
    width: 80%;
    /* height: 400px; */
    margin-top: 35px;
    box-shadow: -15px 25px 30px -15px grey;
}

#title {
    font-size: 20px;
    /* border: 0.5px solid black; */
    /* background: white; */
    padding: 0.5em;
    /* margin-left: 50px; */
    margin-top: 10px;
    margin: 0 auto;
}

#content-img {
    margin: 15px 0 15px 15px;
    background: rgba(255, 224, 251, 0.1);
    min-width: 35%;
    max-width: 35%;
    /* border-top: 1px solid black; */
}

#project-img {
    min-width: 100%;
    max-width: 100%;
    min-height: 300px;
    max-height: 300px;
}

#description {
    /* margin: 0 auto; */
    padding: 1em;
    text-align: left;
    margin-top: 1%;
}

#about {
    text-align: center;
    margin: 0 auto;
    width: 500px;
}

@media screen and (max-width: 600px) {
    .nav li:not(:first-child) {
        display: none;
    }
}
