body {
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
}

#name {
    min-height: 135px;
    max-height: 135px;
    min-width: 450px;
    max-width: 450px;
    display: block;
    margin: 0 auto;
}

.nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 5px solid black;
    width: 100%;
    text-align: center;
    align-items: center;
}

.nav>li {
    list-style: none;
    margin: auto;
    font-size: 30px;
}

a:link {
    color: black;
    text-decoration: none;
}

p a:link {
    color: #8f4dca;
}

p a:visited {
    color: #aca1ff;
}

h1 {
    text-align: center;
}

.cards-container {
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    background: rgba(255, 224, 251, 0.1);
}

.card {
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin: 10px;
    margin: 5px;
}

#title {
    text-align: center;
    font-size: 20px;
    border: 3px solid black;
    background: white;
}

#content-img {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-bottom: 5px;
    background: white;
}

#project-img {
    min-width: 100%;
    max-width: 100%;
    min-height: 300px;
    max-height: 300px;
}

#description {
    margin-left: 25px;
    margin-right: 25px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

@media all and (max-width: 600px) {
    .container, .cards-container {
        flex-wrap: wrap;
    }
    .container>li {
        flex-basis: 50%;
    }
}